#paginaPrincipal {
  margin-top: 15px;

}

.fa-whatsapp {
  color: #43A047;
}

.fa-telegram {
  color: #2196F3;
}

.fa-sms {
  color: #FBC02D;
}

.td-acoes {
  text-align: right;
}

.form-center {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
}

.alert i {
  font-size: 30px;
  color: gray;
}